html{
    font-size:17px;
    overflow-x: hidden;
}

@font-face {
    src: url('./Calibre-Regular.ttf');
    font-family: Calibre;
}

body{
    font-family: Calibre;
    margin:0;
    padding:0;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    background-repeat: no-repeat;
    min-height:100vh;
}

h1{
    text-align:center;
    text-transform: uppercase;
    font-size: 2.5rem;
    margin:10px;
    color:#fff;
}


.controls{
    width:45%;
    margin: 0 auto;
}

button{
    display:block;
    margin:0 auto;
    cursor: pointer;
    font-family: Calibre;
    font-size:1.2rem;
    outline:none;
    padding:8px 18px 8px 18px;
    background: rgba(226, 226, 226, 0.986);
    border-radius:4px;
    border:none;
    transition: 0.2s ease;
}

button:hover{
    background: rgb(255, 255, 255);
}

.rgb{
    margin-top:18px;
    position: absolute;
    top:45px;
    left:0;
}

h2{
    color:#fff;
    margin:5px;
    text-align: center;
}

label{
    color:white;
    font-size: 1.3rem;
    margin:20px 0px 0px 20px;
}

.filters{
    display: flex;
}

.filters button{
    margin:10px 20px 10px 20px;
}

video{
    width:22%;
    position: absolute;
    top:5px;
    right:10px;
}

canvas{
    display: block;
    margin: 0 auto;
    margin-top:90px;
    margin-bottom:40px;
}
.strip{
    display: block;
    width:91%;
    margin:0 auto;
    margin-bottom:40px;
    padding:20px 20px 12px 20px;
    border-radius: 5px;
}
a{
  color:white;
  font-size:1.4rem;
  margin-right:20px;
}

img{
    width: 15%;
}